
/* MENU DE OPCIONES */

.seg-logo{
    margin-right: 10px;
    width: 129px;
    border-radius: 50px;
}

.main-nav-logo{
    height: 110px !important;
    padding: 10px 5px 10px 8% !important;
    box-shadow: none !important;
    background-color: white !important;
}

.main-nav-logo .row .brand-logo{
    padding-top: 10px !important;
}

.img-seg-logo{
    height: 100%;
    width: 316px;
}

.main-title-simos{
    margin: 22px 0 !important;
    color: black !important;
    width: 100% !important;
    line-height: 25px !important;

    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Proxima Nova', sans-serif;
}

.siglas-simos{
    margin: 12px 20px 12px 0 !important;

    font-weight: 600;
    font-size: 56px;
    font-style: normal;
    line-height: 25px !important;
}

.strong-text{
    font-size: 21px;
    font-weight: 700 !important;
    font-style: normal;
    display: inline;
    line-height: 25px !important;
}

.light-text{
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: 700 !important;
    font-style: normal;
    display: inline;
    line-height: 25px !important;
}

.main-nav-options{
    padding: 0 10% 0 10px !important;
}

.main-nav-options li a{
    font-size: 11px !important;
    height: 78px !important;
    padding: 5px 8px 5px 8px !important;
    color: #000F9F !important;
    font-weight: 600 !important;
}

.logo-sitemap{
    font-size: 14px !important;
}
