
body{
    background-color: #e7e7e7 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.row-slider-and-login{
    margin-top: 2% !important;
    margin-bottom: 1% !important;
}

/* CAJAS DE TEXTO PARA EL LOGIN O LOS CAMPOS DE REGISTRO */

/* label color */
.input-field label {
    color: black !important;
}

.txtbox-input-password{
    margin-bottom: 30px !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #01579b !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
}

/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #01579b !important;
    box-shadow: 0 1px 0 0 #01579b !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #01579b !important;
}

/* CONTENEDOR DE LAS TARJETAS DEL SLIDER Y LOGIN */

.cards-login-container{
    padding: 0 !important;
    margin: 0 !important;
    
    width: 100% !important;
    height: 400px !important;
}

/* SLIDES */

.card-slider{
    margin-top: 0 !important;

    float: left;
    width: 70% !important;

    background-color: transparent !important;
    box-shadow: 0 0 0 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.card-slider-content{
    padding: 0 !important;
}

.slider-content{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.slides-content{
    border-radius: 0 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.background-slide{
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    color: white;
}

/* TARJETA DE INICIO DE SESIÓN */

.card-login{
    border-left: 1px solid lightgrey !important;
    background-color: white !important;
    margin-top: 0 !important;

    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;

    float: left;
    width: 30% !important;
    height: 100% !important;
}

.btn-login, .btn-register{
    width: 100% !important;
}

.btn-login{
    margin-top: 20px;
}

.title-login{
    margin: 0 !important;
}

